<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopping.dao.IBoardMapper">

	<select id="listBoard" resultType="com.example.shopping.vo.BoardVO">
		SELECT * FROM board OFFSET #{startPage} ROWS FETCH FIRST #{countPerPage} ROWS ONLY
	</select>
	
	
	<insert id="insert">
		insert into board values(board_seq.nextval, #{writer},#{email}, #{subject}, 
					 0, #{content})
	</insert>
	
	<select id="getBoard" resultType="com.example.shopping.vo.BoardVO">
		select * from board where num = #{num}
	</select>
	
	<update id="plusReadcount">
		update board set readcount = readcount + 1 where num = #{num}
	</update>
	
	<delete id="delete">
		delete from board where num = #{num}
	</delete>
	
	<update id="update">
		update board set writer=#{writer}, email=#{email}, 
							subject=#{subject}, content=#{content} where num = #{num}
	</update>
	
	<select id="allList" resultType="int">
		select count(*) from board
	</select>
	
	<insert id="insertComment"> 
		insert into board_comment(cno,bno,writer,content) 
		values(comment_seq.nextval,#{bno},#{writer},#{content})
	</insert>
	
	<delete id="deleteComment">
		delete board_comment where cno=#{cno}
	</delete>
	
	<select id="getComment" resultType="com.example.shopping.vo.CommentVO">
		select * from board_comment where bno=#{bno}
	</select>
</mapper>   